<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Labss.Properties.Settings.Car_maintenance_costsConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Car_maintenance_costs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
